{% extends "base.html" %}
{% block app_content %}
<h3>Eventos</h3>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descrição</th>
            <th>Dia</th>
            <th>Início</th>
            <th>Fim</th>
            <th>Vagas</th>
        <tr>
    </thead>
    <tbody>
        {% for evento in eventos %}
        <tr>
            <td>{{ evento.idEvento }}</td>
            <td>{{ evento.descricao }}</td>
            <td>{{ evento.dia }}</td>
            <td>{{ evento.inicio }}</td>
            <td>{{ evento.fim }}</td>
            <td>{{ evento.vagas }}</td>
            {% if autenticado == True %}
                <td><a href="/excluir?idE={{ evento.idEvento }}&idA={{ evento.idAgenda }}&idU={{ evento.idUsuario }}">Excluir</a> <td>
                <td><a href="/inscritos?idE={{ evento.idEvento }}&idA={{ evento.idAgenda }}&idU={{ evento.idUsuario }}">Inscritos</a> <td>
            {% endif %}
                <td><a href="/inscricao?idE={{ evento.idEvento }}&idA={{ evento.idAgenda }}&idU={{ evento.idUsuario }}">Inscrever</a> <td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if autenticado == True %}
<a href="/registro_evento?idA={{ idA }}" class="btn btn-primary">Adicionar</a>
{% endif %}
{% endblock %}
